div#driver-popover-item {
	display: none;
	position: absolute;
	background: #fff;
	color: #2d2d2d;
	margin: 0;
	padding: 15px;
	border-radius: 5px;
	min-width: 350px;
	max-width: 500px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	z-index: 1000000000;
}
div#driver-popover-item .driver-popover-tip {
	border: 5px solid #fff;
	content: "";
	position: absolute;
}
div#driver-popover-item .driver-popover-tip.bottom {
	bottom: -10px;
	border-color: #fff transparent transparent;
}
div#driver-popover-item .driver-popover-tip.bottom.position-center {
	left: 49%;
}
div#driver-popover-item .driver-popover-tip.bottom.position-right {
	right: 20px;
}
div#driver-popover-item .driver-popover-tip.left {
	left: -10px;
	top: 10px;
	border-color: transparent #fff transparent transparent;
}
div#driver-popover-item .driver-popover-tip.left.position-center {
	top: 46%;
}
div#driver-popover-item .driver-popover-tip.left.position-bottom {
	top: auto;
	bottom: 20px;
}
div#driver-popover-item .driver-popover-tip.right {
	right: -10px;
	top: 10px;
	border-color: transparent transparent transparent #fff;
}
div#driver-popover-item .driver-popover-tip.right.position-center {
	top: 46%;
}
div#driver-popover-item .driver-popover-tip.right.position-bottom {
	top: auto;
	bottom: 20px;
}
div#driver-popover-item .driver-popover-tip.top {
	top: -10px;
	border-color: transparent transparent #fff;
}
div#driver-popover-item .driver-popover-tip.top.position-center {
	left: 49%;
}
div#driver-popover-item .driver-popover-tip.top.position-right {
	right: 20px;
}
div#driver-popover-item .driver-popover-tip.mid-center {
	display: none;
}
div#driver-popover-item .driver-popover-footer {
	display: block;
	margin-top: 10px;
}
div#driver-popover-item .driver-popover-footer button {
	display: inline-block;
	width: auto;
	height: 2.5rem;
	padding: 0.325rem 1rem;
	border: none;
	white-space: nowrap;
	color: $(button-action-font-color);
	cursor: pointer;
	background-color: $(button-action-background-color);
	border-radius: 3px;
	line-height: 1.75rem;

	&:hover,
	&:focus {
		background: $(button-action-background-color-hover);
		color: $(button-action-font-color-hover);
	}
}
div#driver-popover-item .driver-popover-footer button.driver-disabled {
	background: $(background-color-mild);
	color: $(text-color-mild);
	cursor: not-allowed;
	pointer-events: none;
}
div#driver-popover-item .driver-popover-footer .driver-close-btn {
	float: left;
	background: $(button-cancel-background-color);
	color: $(button-cancel-font-color);
	
	&:hover,
	&:focus {
		background: $(button-cancel-background-color-hover);
		color: $(button-cancel-font-color-hover);
	}
}
div#driver-popover-item .driver-popover-footer .driver-btn-group,
div#driver-popover-item .driver-popover-footer .driver-close-only-btn {
	float: right;
	margin-left: 1rem;
}
div#driver-popover-item .driver-popover-title {
	font-weight: 500;
	font-family: $(h-font-family, $(font-family));
	font-size: $(h3-font-size);
	margin: 0 0 5px;
	display: block;
	position: relative;
	zoom: 1;
}
div#driver-popover-item .driver-popover-description {
	margin: 1rem 0 2rem;
	zoom: 1;
}
.driver-clearfix:after,
.driver-clearfix:before {
	content: "";
	display: table;
}
.driver-clearfix:after {
	clear: both;
}
.driver-stage-no-animation {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	background: transparent !important;
	outline: 5000px solid rgba(0, 0, 0, 0.75);
}
div#driver-page-overlay {
	background: #000;
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
	z-index: 100002 !important;
}
div#driver-highlighted-element-stage,
div#driver-page-overlay {
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
div#driver-highlighted-element-stage {
	position: absolute;
	height: 50px;
	width: 300px;
	background: #fff;
	z-index: 100003 !important;
	display: none;
	border-radius: 2px;
}
.driver-highlighted-element {
	z-index: 100004 !important;
}
.driver-position-relative {
	position: relative !important;
}
.driver-fix-stacking {
	z-index: auto !important;
	opacity: 1 !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	-webkit-filter: none !important;
	-moz-filter: none !important;
	-ms-filter: none !important;
	-o-filter: none !important;
	filter: none !important;
	-webkit-perspective: none !important;
	-moz-perspective: none !important;
	-ms-perspective: none !important;
	-o-perspective: none !important;
	perspective: none !important;
	-webkit-transform-style: flat !important;
	-moz-transform-style: flat !important;
	-ms-transform-style: flat !important;
	transform-style: flat !important;
	-webkit-transform-box: border-box !important;
	-moz-transform-box: border-box !important;
	-ms-transform-box: border-box !important;
	-o-transform-box: border-box !important;
	transform-box: border-box !important;
	will-change: unset !important;
}
