.tour-guide-feature-tour-step-existing {
	> .elgg-body {
		display: none;
	}
}

.feature-tour-required {
	.driver-close-btn {
		display: none !important;
	}
}

#driver-popover-item.popover-step-last:not(.popover-step-first) {
	.driver-close-btn {
		display: none;
	}
}
